body {
    background: #5d5d5d;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h1 {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
  }
  
  .form-control, textarea {
    border-radius: 0.3rem;
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  i {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .alert-danger {
    background-color: #f8d7da !important;
  }
  